<%- include('../includes/admin/head.ejs') %>

<%- include('../includes/admin/navigation.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Users</h1>
            </div>

            <div class="col-md-6 mt-1 d-flex justify-content-end align-items-center">
                <a href="/admin/add-user" class="btn btn-primary">Add Users</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#Id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(users.length > 0){ %>
                            <% for(let user of users) { %>
                                <tr class="align-middle">
                                    <td><%= user._id %></td>
                                    <td><%= user.firstname %></td>
                                    <td><%= user.lastname %></td>
                                    <td><%= user.age %></td>
                                    <td><%= user.qualification %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.phone %></td>
                                    
                                    <td>
                                        <a class="edit-icon" href="/admin/edit-user/<%= user._id %>" aria-label="edit user"><i class="bi bi-pencil-square"></i></a>

                                        <a class="delete-icon" href="/admin/delete-user/<%= user._id %>" aria-label="delete user">
                                            <i class="bi bi-trash3-fill"></i>
                                        </a>
                                    </td>
                                </tr>       
                            <% } %>
                        <% } else {  %>
                            <tr>
                                <td colspan="9">No Records found</td>
                            </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div> <!-- End of col 12 -->
        </div> <!-- End of row -->
    </div> <!-- End of container -->
</main>    


<%- include('../includes/admin/footer.ejs') %>